# Plone 4.3.2
# ===========
#
# Plone 4.3.2 uses **Zope** 2.13.21 and **Python** 2.7.
#
# Plone 4.3.2 is the latest bugfix release in the 3.3.x family.
#
# * `Release notes <http://plone.org/products/plone/releases/4.3.2>`
# * `Feature release notes <http://plone.org/products/plone/releases/4.3.2>`
#
# This version of Plone requires 3 security hotfixes. They are applied
# by plonestack out of the box.

[buildout]

extensions =
# A zc.buildout extension to ease the development of large projects with lots of packages.
# For options see http://pypi.python.org/pypi/mr.developer
    mr.developer

# This extension reports the current global buildout threat level
# For options see http://pypi.python.org/pypi/buildout.threatlevel
    buildout.threatlevel

extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg
    base-versions.cfg

find-links =
    http://dist.plone.org/release/4.3-latest/
    http://dist.plone.org/thirdparty/

parts =
    instance

eggs =
#    experimental.btree
    five.pt
zcml =

unzip = true
versions = versions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
verbose-security = off
debug-mode = off
event-log-level = info
eggs =
    Plone
    plone.app.upgrade
    ${buildout:eggs}
zcml =
    ${buildout:zcml}
environment-vars =
#    CHAMELEON_CACHE ${buildout:directory}/var/chameleon-cache
    PTS_LANGUAGES es
    zope_i18n_allowed_languages es
    zope_i18n_compile_mo_files false

[mkdir-chameleon]
recipe = plone.recipe.command
command =
    mkdir -p ${buildout:directory}/var/chameleon-cache
    rm -Rf ${buildout:directory}/var/chameleon-cache/*
update-command = ${:command}

[instance-sitecustomize]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/sitecustomize.py
mode = 600
input = inline:
    import sys
    sys.setdefaultencoding('utf-8')

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
