[versions]
######### Buildout recipe #########
createzopecoverage = 1.5
collective.recipe.omelette = 0.16
collective.recipe.plonesite = 1.8.2
plone.recipe.command = 1.1
zc.recipe.egg = 2.0.1
zc.recipe.testrunner = 2.0.0

######### Products development #########
#DateTime = 3.0.2
plone.app.debugtoolbar = 1.0a3
aws.zope2zcmldoc = 1.1.0
Products.PDBDebugMode = 1.3.1
plone.reload = 2.0
#plone.app.robotframework = 0.9.2
#collective.funkload = 0.4
#funkload = 1.11.0
#webunit = 1.3.10

######### Python QA Dev tools #########
Babel = 1.3
flake8 = 2.4.0
mock = 1.0.1
pep8 = 1.5.7
pyflakes = 0.8.1
i18ndude = 3.3.5
mccabe = 0.2.1

######### iw.debug #########
ipython = 2.2.0
iw.debug = 0.3

# Required by:
# iw.debug==0.3
ipdb = 0.8

######### Cover #########
collective.cover = 1.0a9
#plone.app.jquerytools = 1.5.6

# Required by:
# collective.cover==1.0a9
collective.js.bootstrap = 2.3.1.1

# Required by:
# collective.cover==1.0a9
# collective.nitf==1.0b3
collective.js.galleria = 1.2.5

# Required by:
# collective.cover==1.0a9
# collective.polls==1.6.2
plone.api = 1.2.1

# Required by:
# collective.cover==1.0a9
plone.app.blocks = 1.1.1

# Required by:
# plone.app.tiles==1.0.1
plone.app.drafts = 1.0a2

# Required by:
# collective.cover==1.0a9
plone.app.tiles = 1.0.1

# Required by:
# collective.cover==1.0a9
plone.tiles = 1.2

# Required by:
# collective.cover==1.0a9
plone.formwidget.namedfile = 1.0.10

plone.dexterity = 2.2.0

####### Products extras ########
collective.googlenews = 1.0rc3
collective.polls = 1.6.2
#openmultimedia.headband = 1.0b1
Products.Doormat = 1.0
sc.social.like = 2.0b3

############ Twitter ###############
collective.twitter.tweet = 1.0b3
collective.twitter.accounts = 1.0.3
collective.twitter.portlets = 1.0b3
oauthlib = 0.6.0

# Required by:
# oauth2==1.5.211
httplib2 = 0.8

# Required by:
# python-twitter==1.1
oauth2 = 1.5.211

# Required by:
# collective.twitter.accounts==1.0.3
python-twitter = 1.1

# Required by:
# python-twitter==1.1
requests = 2.0.0

# Required by:
# python-twitter==1.1
requests-oauthlib = 0.4.0

######### Facebook #########
collective.facebook.portlets = 1.0b2

# Required by:
# collective.facebook.portlets==1.0b2
collective.facebook.accounts = 1.0b4

######### NITF #########
collective.nitf = 1.0b3
collective.upload = 1.0b6
collective.z3cform.widgets = 1.0b9

######### Google Analytics #########
collective.googleanalytics = 
gdata = 2.0.18

collective.behavior.localanalytics = 
quintagroup.analytics = 1.1.1

# Required by:
# quintagroup.analytics==1.1.1
GChartWrapper = 0.9

######### Plone Maps #########
collective.geo.usersmap = 
collective.geo.bundle = 2.2
collective.geo.contentlocations = 3.1
collective.geo.geographer = 2.0
collective.geo.kml = 3.2
collective.geo.mapwidget = 2.1.3
collective.geo.openlayers = 3.1
collective.geo.settings = 3.0
collective.z3cform.colorpicker = 1.1
collective.z3cform.mapwidget = 2.0
geopy = 0.99
pygeoif = 0.4.1

# Required by:
# collective.geo.mapwidget==2.1.2
BeautifulSoup = 3.2.1

######### Disqus #########
collective.disqus = 2.0rc1

# Required by:
# collective.disqus==2.0rc1
collective.prettydate = 1.2

# Required by:
# collective.disqus==2.0rc1
disqus-python = 0.4.2

######### PloneServicesCenter #########
Products.PloneServicesCenter = 0.2.7

######### PloneSoftwareCenter #########
Products.PloneSoftwareCenter = 1.6.4
contentratings = 1.1

# Required by:
# Products.PloneSoftwareCenter==1.6.4
Products.AddRemoveWidget = 1.5.1

# Required by:
# Products.PloneSoftwareCenter==1.6.4
Products.ArchAddOn = 1.7

# Required by:
# Products.PloneSoftwareCenter==1.6.4
Products.DataGridField = 1.9.0

# Required by:
# Products.PloneSoftwareCenter==1.6.4
cioppino.twothumbs = 1.7

# Required by:
# hexagonit.recipe.cmmi==1.6
hexagonit.recipe.download = 1.7

# Required by:
# Products.PloneSoftwareCenter==1.6.4
plone.contentratings = 1.1

# Required by:
# Products.PloneSoftwareCenter==1.6.5.dev0
plone.app.kss = 1.7.1

# Required by:
# plone.app.kss==1.7.1
kss.core = 1.6.5

####### Faculty Staff Directory #######
Products.FacultyStaffDirectory = 3.1.3
Products.Relations = 0.9b1
Products.membrane = 2.1.11

######### Canaima GNU/Linux #########

# Required by:
# canaimagnulinux.web.theme==0.1
z3c.jbot = 0.7.1

# Required by:
# plone.app.dexterity==2.0.11
#plone.dexterity = 2.2.2
