[buildout]
extends =
    base.cfg
    sources.cfg
    checkouts.cfg

parts =
    checkversions
    createzopecoverage
    i18ndude
    instance
    instance-sitecustomize
    mkdir-chameleon
    omelette
    flake8
    plonesite
    test
    zopepy

test-eggs =
#    canaimagnulinux.web.policy [test]
#    canaimagnulinux.web.theme [test]

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[createzopecoverage]
recipe = createzopecoverage

[instance]
verbose-security = on
debug-mode = on
event-log-level = debug
eggs +=
    iw.debug
    plone.reload
    Products.PDBDebugMode
zcml += iw.debug
environment-vars +=
    CHAMELEON_CACHE ${buildout:directory}/var/chameleon-cache
#    CHAMELEON_DEBUG true

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[plonesite]
recipe = collective.recipe.plonesite
profiles =
#    canaimagnulinux.web.policy:default

[flake8]
recipe = zc.recipe.egg
eggs =
    flake8
    ${buildout:eggs}
entry-points = flake8=flake8.run:main

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}

